/**
 * TODO custom variables
 * TODO skalanlegt
 */

form {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  width: 50%;
}

fieldset {
  border: 0;
}

fieldset legend {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

fieldset div {
  width: 100%;
  margin-bottom: 20px;
}

fieldset div label {
  display: block;
}

fieldset input,
fieldset select,
fieldset textarea {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
}

fieldset input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}
