/* Sýnileg grid, engu þarf að breyta hér */

/* https://css-tricks.com/building-css-grid-overlay/ */
:root {
  --grid-color: hsl(255deg 75% 75% / 25%);
  --grid-repeating-width: calc(100% / var(--columns));
  --grid-column-width: calc((100% / var(--columns)) - var(--gutter));
  --grid-background-width: calc(100% + var(--gutter));
  --grid-background-columns: repeating-linear-gradient(
    to right,
    var(--grid-color),
    var(--grid-color) var(--grid-column-width),
    transparent var(--grid-column-width),
    transparent var(--grid-repeating-width)
  );
}

html {
  position: relative;
}

html::before {
  position: absolute;
  inset: 0;
  z-index: 1000;
  width: calc(100% - (2 * var(--offset)));
  max-width: var(--max-width);
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  pointer-events: none;
  content: '';
  background-image: var(--grid-background-columns);
  background-size: var(--grid-background-width) 100%;
}
