/**
 * TODO custom variables
 * TODO skipta yfir í grid
 */
.wrapper {
  display: grid;
  gap: 30px;
  min-height: 100vh;
  margin-top: 10px;
}

main {
  flex: 1;
  width: var(--width-offset);
  max-width: var(--max-width);
  margin: 0 auto;
}
